* {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

.column {
    float: left;
    height: 100%;
    width: 100%;
    
  }
  
  #left {
    width: 40%;
    display: flex;
    align-items: center;
  }

  #title {
    scale: 0.9;
  }

  #right {
    width: 30%;
    text-align: right;
  }

  #stars {
    scale: 0.8;
    margin: 0;
  }
  
  #middle {
    width: 30%;
  }

  #desc {
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: light;
    color: #ABABAB;
    display: flex;
    position: relative;
    top: 40%;
    font-size: 15;
    padding-inline: 50px;
    line-height: 50px;
    align-items: center;
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  #image {
    position: relative;
    float: top;
    scale: 0.7;
    display: flex;
    height: 80%;
    top: -400px;
    right: 100px;
  }