body {
    background-color: #eeeeee;
}


#contact {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    position: relative;
    top: 30%;
}

#num {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    position: relative;
    top: 35%;
    right: 10%;
}

#insta {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    position: relative;
    top: 32%;
    left: 10%;
}

#YT {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    position: relative;
    top: 30%;
}

